@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h2>
    @ViewData["message"]
</h2>
<p>
    <ul> 
        @foreach(var item in (IEnumerable<string>)ViewData["colorlist"])
    
            {
            <li>
                @item
            </li>
   
            }
    </ul>
   
</p>
<h2>
    @ViewData["msg"]
</h2>
<p>
    <ol> 
        @foreach(var item in ViewBag.Colors)
    
            {
            <li>
                @item
            </li>
   
            }
    </ol>
   
</p>
